@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.episode {
  background: linear-gradient(201.22deg, rgba(255, 255, 255, 0.64) 4%, rgba(255, 255, 255, 0.8) 51.07%, rgba(255, 255, 255, 0) 101.08%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), -50px 50px 200px rgba(255, 255, 255, 0.15), inset 0px 10px 50px rgba(255, 255, 255, 0.5), inset 0px 4px 200px rgba(255, 255, 255, 0.25),
    inset -5px -5px 20px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);

  width: 1000px;
  height: 600px;
  border-radius: 25px;
  overflow: hidden;
  background-color: lightgray;

  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(107, 107, 107, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.wrap_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.rating {
  font-size: 1.6em;
  margin-right: 2.5em;
  color: #ff70a6;
}

.title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
  border: none;
  background: none;
  font-family: 'Noto Sans KR', sans-serif;
}
.title:focus {
  outline: none;
}

.wrap_date {
  display: flex;
  align-items: center;
  color: #707070;
}
.date {
  background: none;
  border: none;
  font-size: 1em;
  margin-right: 0.7em;
  color: #707070;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}
.date:focus {
  outline: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
input[type='date']::before {
  content: attr(placeholder);
  width: 100%;
  height: 100%;
}
input[type='date']:valid::before {
  display: none;
}

.weather {
  font-size: 2.5em;
}

.wrap_content {
  width: 100%;
  height: 85%;
  display: flex;
}

.wrap_photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 2%;

  color: #707070;
  font-size: 2.5em;
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.photo {
  cursor: pointer;
}
.photo:hover {
  transition: 0.3s;
  color: #ff70a6;
  scale: 1.1;
}

.wrap_slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  background: none;
  color: white;
  border: none;
  font-size: 1em;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.slider:hover {
  transition: 0.3s;
  color: #ff70a6;
  scale: 1.1;
}

.content {
  font-family: 'Noto Sans KR', sans-serif;

  width: 100%;
  height: auto;
  padding: 1em;
  font-size: 1em;
  line-height: 22px;

  background: rgba(255, 255, 255, 0.45);
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  resize: none;

  overflow-y: scroll;

  scrollbar-width: none;

  /* 스크롤바 숨기기: Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}
.content:focus {
  outline: none;
}

.wrap_btn {
  width: 100%;
  margin: 1em 0 0 0;
  display: flex;
  justify-content: end;
}

.btn {
  color: #ff70a6;
  background: none;
  border: 2px solid #ff70a6;
  backdrop-filter: blur(2px);
  border-radius: 30px;
  padding: 0.5em 1em;
  margin-left: 0.5em;
  cursor: pointer;
}
.btn:hover {
  transition: 0.3s;
  background-color: #ff70a6;
  color: white;
}
