.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0px;
}

.dot {
  position: absolute;
  height: 80px;
  top: 60px;
  right: -40px;
  z-index: 0;
}
