.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(107, 107, 107, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
}

.mywrap {
  z-index: 1000;
  background-color: white;
  width: 700px;
  height: 450px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.pro {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.proIn {
  display: flex;
  flex-direction: row;
  margin-bottom: -15px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.mbti {
  font-size: 20px;
  font-weight: 100;
  margin-top: 15px;
}

.edit {
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  height: 15px;
  margin-left: 10px;
  margin-top: 20px;
}

.email {
  font-size: 15px;
  font-weight: 100;
  margin-top: 5px;
  margin-left: 4px;
}

.logout {
  height: 25px;
  margin-left: 60px;
  margin-top: 30px;
  background-color: white;
  border-width: 0.3px;
  border-color: #d5d5d5;
  box-shadow: 2px 3px #d5d5d5;
  cursor: pointer;

}

.line {
  align-self: center;
}

.back {
  background-color: lightgray;
  border-radius: 20px;
  width: 350px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.favorite {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.visit {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.bookmark {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.heart {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.num {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  margin-left: auto;
}

.favDetail {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  margin-left: auto;
}