.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(209, 209, 209, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
}

.mywrap {
  z-index: 1000;
  background: linear-gradient(161.66deg, rgba(255, 255, 255, 0.18) 5.63%, rgba(255, 255, 255, 0.6) 94.57%);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  width: 700px;
  height: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  border-radius: 30px;
  flex-shrink: 0;

  overflow-y: scroll;

  scrollbar-width: none;

  /* 스크롤바 숨기기: Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.proList {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 150px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 15px;
}

.proHead {
  font-size: 15px;
  font-weight: bold;
}

.imgGroup {
  display: flex;
  flex-direction: row;
}

.imgInput {
  margin-bottom: 30px;
  cursor: pointer;
}

.favHead {
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 1em;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
}

.addressGroup {
  display: flex;
  align-items: start;
  flex-direction: row;
  margin-bottom: 1em;
}

.inputName {
  height: 30px;
  width: 150px;
  margin-left: 110px;
  border-color: #6a6a6a;
  border-width: 2px;
  border-radius: 100px;
  padding: 10px;
}

.selectMbti {
  height: 30px;
  width: 150px;
  margin-left: 104px;
  border-color: #6a6a6a;
  border-width: 2px;
  border-radius: 100px;
  padding: 0px 5px;
  cursor: pointer;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}

.inputAddress {
  height: 30px;
  width: 150px;
  margin-left: 110px;
  border-color: #6a6a6a;
  border-width: 2px;
  border-radius: 100px;
  padding: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.saveBtn {
  width: 70px;
  height: 30px;
  background-color: #ff70a6;
  border-radius: 20px;
  border: none;
  font-weight: bolder;
  font-size: 15px;
  color: white;
  cursor: pointer;
  margin-left: 300px;
  flex-shrink: 0;
}

.deleteUser {
  background-color: transparent;
  flex-shrink: 0;
  border: none;
  color: red;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  margin-left: 200px;
}

.List {
  margin: 0;
  padding: 0;
}

.underGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.favSelect {
  width: fit-content;
  border: 2px solid #6a6a6a;
  border-radius: 50px;
  color: #6a6a6a;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.favSelectActive {
  width: fit-content;
  border: 2px solid #ff70a6;
  border-radius: 50px;
  background-color: white;
  color: #ff70a6;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.previewImage {
  width: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.postcode {
  margin-bottom: 0.2em;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
