.filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(107, 107, 107, 0.5);
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
  }
  
  .mywrap {
    z-index: 1000;
    background-color: white;
    width: 700px;
    height: 450px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 30px;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .proList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 210px;
  }

  .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .proHead {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  .inputName {
    height: 20px;
    width: 150px;
    margin-left: 80px;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
  }

  .selectMbti {
    height: 20px;
    width: 150px;
    margin-left: 73px;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
  }

  .inputAddress {
    height: 20px;
    width: 150px;
    margin-left: 80px;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  .saveBtn {
    width: 70px;
    height: 30px;
    background-color: #ff70a6;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-left: 300px;
  }

  .deleteUser {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    margin-left: 200px;
  }