.navbar {
  display: flex;
  padding: 0px 70px;
  flex-shrink: 0;
}

.items {
  display: flex;
}

.item {
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
}
.item:hover {
  transition: 0.2s;
  color: #ff70a6;
}
.item:active {
  color: #ff70a6;
}

.btn {
  position: relative;
  z-index: 100;
  border-radius: 2px;
  padding: 8px 60px;
  margin-left: 20px;
  background-color: white;
  border: 3px solid #ff70a6;
  color: #ff70a6;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  transition: 0.4s;
  color: white;
  background-color: #ff70a6;
}
