.wrap {
  width: 400px;
  height: 100vh;

  background: linear-gradient(161.66deg, rgba(255, 255, 255, 0.18) 5.63%, rgba(255, 255, 255, 0.6) 94.57%);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  padding: 20px 25px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top {
  display: flex;
  flex-direction: row;
}

.title_wrap {
  display: flex;
  flex-direction: row;
}

.category {
  margin: 10px 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.lottie_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.noReport {
  margin-top: 20px;
  font-size: 15px;
  color: #666;
}

.chart {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn_next {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.btn_next:hover {
  transition: 0.2s;
  color: #ff70a6;
}

.btn_next:hover {
  transition: 0.2s;
  color: #ff70a6;
}

.btn_downLoad {
  width: 25px;
  height: 25px;
  margin-top: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.sub_title {
  margin: 10px 0px;
  font-size: 1.3em;
  font-weight: bold;
}

.list_wrap {
  overflow-y: scroll;

  scrollbar-width: none;

  /* 스크롤바 숨기기: Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}

.area_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.area_box {
  background: rgba(255, 255, 255, 0.581);
  padding: 10px;
  display: flex;
  align-items: center;
  height: 45px;
  width: fit-content;
  border-radius: 15px;
  border: 1px solid #b2b0b099;
  margin: 15px;
  font-size: 20px;
  font-weight: bolder;
}

.area_tags {
  color: #ff70a6;
}
